# Node.js
client/node_modules/

# Angular build files
client/dist/
client/.angular/

# .NET build files
server/bin/
server/obj/

# General
.DS_Store
.env
server/.env

#Connection string 
server/appsettings.json
