# Node.js
client/node_modules/

# Angular build files
client/dist/
client/.angular/

# .NET build files
server/bin/
server/obj/
**/[Dd]ebug/
**/[Dd]ebugPublic/

# General
.DS_Store
.env

# Connection string
server/appsettings.json