# Node.js
client/node_modules/

# Angular build files
client/dist/
client/.angular/

# .NET build files
server/bin/
server/obj/


Everleaf.Model/obj/
Everleaf.Model/bin/

# General
.DS_Store
.env

# Connection string
server/appsettings.json