<div class="dashboard-header">
  <h1>Register</h1>
</div>
<hr class="dashboard-divider"/>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
    <mat-error *ngIf="username.hasError('required')">
      Username is required
    </mat-error>
    <mat-error *ngIf="username.hasError('pattern')">
      No spaces allowed
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="password.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="password.hasError('minlength') || password.hasError('pattern')">
      Minimum 8 characters &amp; Must include at least one digit
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-error *ngIf="email.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="email.hasError('email')">
      Enter a valid email address
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="registerForm.invalid"
  >
    Register
  </button>

  <p>
    <a routerLink="/login">Already have an account? Login</a>
  </p>
</form>
