<nav class="navbar" *ngIf="!isAuthPage">
  <div class="navbar-logo">🌿 Everleaf</div>

  <div class="navbar-user">
    <ng-container *ngIf="currentUserName; else loggedOut">
      <button mat-button (click)="logout()">Logout</button>
      <span>{{ currentUserName }}</span>
    </ng-container>
    <ng-template #loggedOut>
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Register</a>
    </ng-template>
  </div>
</nav>

<div class="container" [ngClass]="{ 'auth-container': isAuthPage }">
  <router-outlet></router-outlet>
</div>
