:host {
  display: block;
  min-height: 100vh;
  background-color: #f8faf8;
}

/* Top Navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Left side (Logo) */
.navbar-logo {
  font-size: 2.4rem;
  font-weight: 600;
}

/* Right side (User Icon) */
.navbar-user {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navbar-user a,
.navbar-user button {
  color: white !important;
}
.navbar-user span {
  color: white;
}

.navbar-user .mat-icon {
  color: white !important;
  font-size: 2.4rem;
  width: 2.4rem !important;
  height: 2.4rem !important;
}

/* Main container for content */
.container {
  max-width: 1400px;
  margin: 2rem auto 0 auto;
  padding: 0 2.4rem;
}

/* ---------------------------- */
/*        RESPONSIVE ZONE       */
/* ---------------------------- */
@media (max-width: 600px) {
  .navbar {
    padding: 0.8rem 1.6rem;
  }

  .navbar-logo {
    font-size: 1.6rem;
  }

  .navbar-user {
    font-size: 2rem;
  }

  .container {
    padding: 0 1.6rem;
  }
}
